@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500|Noto+Sans+KR:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
    font-family: "VT323";
    src: url("/fonts/VT323-Regular.ttf");
  }

// Fonts
$noto: "Noto Sans KR", sans-serif;
$fira: "Fira Sans", sans-serif;
$bit: "VT323";

// Colors
$a: #ebe0c8;
$b: #845526;
$c: #534c31;
$d: #553017;
$e: #7ab35b;
$f: #75d0c4;
$g: #dd5b1d;
$h: #e63e1c;